
*{
    padding: 0;
    margin: 0;
    list-style: none;
}

.main__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20%;
}

.card{
    border: 1px solid #000;
    width: 35%;
    /* min-height */
    margin: 10px;
}

.none{
    display: none;
}
.nav__menu{
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
}
.header{
    padding: 0 5%;
   margin: 20px 0 10% 0;
}
.header li{
    cursor: pointer;
}
.MainSectionNone{
    display: none;
}