.text{
    font-size: 20px;
    margin: 20px;
    opacity: 0;
    
}
.text li{
    padding-left: 20px;
}
.text ul{
    margin-bottom: 10px;
}

.text p{
    
    text-indent: 20px;
}
#textProject p{
    padding-top: 10px;
}